# Python
__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/
venv/

# Data
data/raw/
data/combined/

# Results (optional - comment out if you want to push results)
# results/raw/
# results/figures/

# Environment
.env

# Mac
.DS_Store

# CatBoost logs
catboost_info/